{% extends "templates/base.twig" %}

{% block topbar %}

	{% block iconbar %}
		{% include "templates/icon.twig" %}
	{% endblock %}

	{% block navbar %}
		{% include "templates/adminNavbar.twig" %}
	{% endblock %}


{% endblock %}


{% block body %}


	<div class="home">
        <div class="viewuser">
            <div class="admin">

                <h2>Admin</h2><br>
                <div class="content">
    
                    <table class="usertable">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                        {% if admins %}
                            {% for admin in admins %}
                                <tr>
                                    <td>{{admin.id}}</td>
                                    <td>{{admin.name}}</td>
                                    <td>{{admin.phone}}</td>
                                    <td>{{admin.email}}</td>
                                </tr>
                            {% endfor %}
    
                        {% else %}
                            <tr>
                                <td colspan="4">No admins found</td>
                            </tr>
                        {% endif %}
                    </table>
    
                </div>
    
            </div>
    
            <div class="user">
    
                <h2>Users</h2><br>
                <div class="content">
                    <table class="usertable">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                        {% if users %}
                            {% for user in users %}
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.phone}}</td>
                                    <td>{{user.email}}</td>
                                </tr>
                            {% endfor %}
    
                        {% else %}
                            <tr>
                                <td colspan="4">No users found</td>
                            </tr>
                        {% endif %}
                    </table>
    
                </div>
    
            </div>
        </div>
		
	</div>

{% endblock %}
